h1 {
    font-family: "Poppins", serif!important;

}
h2 {
    font-family: "Poppins", serif!important;

}
h3 {
    font-family: "Poppins", serif!important;

}
h4 {
    font-family: "Poppins", serif!important;

}
h5 {
    font-family: "Poppins", serif!important;

}
p {
    font-family: "Poppins", serif!important;
} 
span {
    font-family: "Poppins", serif!important;
}
a {
    font-family: "Poppins", serif!important;
}
button {
    font-family: "Poppins", serif!important;
}