@keyframes show {
  from {
    opacity:0;
    scale:0.8;
  }
  to {
    opacity:1;
    scale:1;
  }

}
.animated {
  animation: show linear;
  animation-timeline:view();
  animation-range:entry 25% cover 50%;
}

@font-face {
    font-family: 'Upheaval';
    src: url('/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
input[type="number"] {
    -moz-appearance: textfield;  /* Untuk Firefox */
    -webkit-appearance: none;    /* Untuk Webkit-based browsers (Chrome, Safari) */
    appearance: none;            /* Standar CSS untuk browser modern */
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
.font-custom {
    font-family: 'Upheaval', sans-serif!important;
}
h1 {
    font-family: 'Upheaval', sans-serif;
}
h2 {
    font-family: "Poppins", serif!important;

}
h3 {
    font-family: "Poppins", serif!important;

}
h4 {
    font-family: "Poppins", serif!important;

}
h5 {
    font-family: "Poppins", serif!important;

}
p {
    font-family: "Poppins", serif!important;
} 
span {
    font-family: "Poppins", serif!important;
}
a {
    font-family: "Poppins", serif!important;
}
button {
    font-family: "Poppins", serif!important;
}
@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-bg {
    background-size: 200% 200%;
    animation: gradientBackground 1.5s ease infinite;
  }
@keyframes gradientCard {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-card {
    background-size: 200% 200%;
    animation: gradientCard 1.5s ease infinite;
  }
  @keyframes subtleBorderAnimation {
    0% {
      box-shadow: 0 0 10px 3px rgba(186, 104, 200, 0.7); /* Light Purple */
    }
    50% {
      box-shadow: 0 0 10px 3px rgba(77, 182, 172, 0.7); /* Green Teal */
    }
    100% {
      box-shadow: 0 0 10px 3px rgba(186, 104, 200, 0.7); /* Kembali ke Light Purple */
    }
  }
  
  .voting-btn {
    border: none!important; /* Hilangkan border */
    color: #FFFFFF; /* Warna teks putih */
    font-size: 16px; /* Ukuran teks */
    font-weight: bold; /* Teks tebal */
    cursor: pointer; /* Kursor pointer */
    animation: subtleBorderAnimation 2s infinite; /* Animasi halus pada shadow */
  }
  