@font-face {
    font-family: 'Upheaval';
    src: url('/upheavtt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
input[type="number"] {
    -moz-appearance: textfield;  /* Untuk Firefox */
    -webkit-appearance: none;    /* Untuk Webkit-based browsers (Chrome, Safari) */
    appearance: none;            /* Standar CSS untuk browser modern */
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
.font-custom {
    font-family: 'Upheaval', sans-serif!important;
}
h1 {
    font-family: 'Upheaval', sans-serif;
}
h2 {
    font-family: "Poppins", serif!important;

}
h3 {
    font-family: "Poppins", serif!important;

}
h4 {
    font-family: "Poppins", serif!important;

}
h5 {
    font-family: "Poppins", serif!important;

}
p {
    font-family: "Poppins", serif!important;
} 
span {
    font-family: "Poppins", serif!important;
}
a {
    font-family: "Poppins", serif!important;
}
button {
    font-family: "Poppins", serif!important;
}
@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-bg {
    background-size: 200% 200%;
    animation: gradientBackground 1.5s ease infinite;
  }
@keyframes gradientCard {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-card {
    background-size: 200% 200%;
    animation: gradientCard 1.5s ease infinite;
  }